/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 10, 2022, 4:42:14 PM
    Author     : FadyBelY
*/

/*
                Background
*/
.BgStore{
    -fx-background-image: url("assets/bgStoreProducts.png");
}
.BgProduct{
    -fx-background-image: url("assets/productHolder.png");
}
.descProduct{
    -fx-background-image: url("assets/productDesc.png");
}

/*
                Buttons
*/
.btn_plus{
    -fx-background-image: url("assets/b+.png");
}
.btn_minus{
    -fx-background-image: url("assets/b-.png");
}
.btn_Acheter{
    -fx-background-image: url("assets/bAcheter_0.png");
}
.btn_Acheter:hover{
    -fx-background-image: url("assets/bAcheter_1.png");
}

.mtcLogo{
    -fx-background-image: url("assets/mtcLogo.png");
}
.tf_Prix{
    -fx-background-image: url("assets/prixTotalHolder.png");
}
.tf_Quantite{
    -fx-background-image: url("assets/tfQuantite.png");
}


/*
                    OTHER
*/

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}