<div id="styleTransfer">
    <div class="wrapper" id="contentImg">
        <img crossorigin="Anonymous" src="https://coderesting.dev/assets/codepen/random/babymaus2.jpg" />
        <span id="upload" class="material-icons"> cloud_upload </span>
    </div>

    <h1>+</h1>

    <div id="stylePicker">
        <div id="styleImg" class="wrapper">
            <img crossorigin="Anonymous" src="https://coderesting.dev/assets/codepen/random/initial.jpg" />
            <!-- Awesome SVG spinner from Aurer (https://codepen.io/aurer/pen/jEGbA)-->
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 30" style="enable-background: new 0 0 50 50" xml:space="preserve">
				<rect x="0" y="0" width="4" height="10" fill="#333">
                    <animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0" begin="0" dur="0.6s" repeatCount="indefinite" />
                </rect>
                <rect x="10" y="0" width="4" height="10" fill="#333">
                    <animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0" begin="0.2s" dur="0.6s" repeatCount="indefinite" />
                </rect>
                <rect x="20" y="0" width="4" height="10" fill="#333">
                    <animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0" begin="0.4s" dur="0.6s" repeatCount="indefinite" />
                </rect>
			</svg>
        </div>

        <button id="generateArtButton">Generate new Art</button>
    </div>

    <h1>=</h1>

    <div class="wrapper" id="styledCanvas">
        <canvas></canvas>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 30" style="enable-background: new 0 0 50 50" xml:space="preserve">
			<rect x="0" y="0" width="4" height="10" fill="#333">
                <animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0" begin="0" dur="0.6s" repeatCount="indefinite" />
            </rect>
            <rect x="10" y="0" width="4" height="10" fill="#333">
                <animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0" begin="0.2s" dur="0.6s" repeatCount="indefinite" />
            </rect>
            <rect x="20" y="0" width="4" height="10" fill="#333">
                <animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0" begin="0.4s" dur="0.6s" repeatCount="indefinite" />
            </rect>
		</svg>
        <span id="download" class="material-icons"> cloud_download </span>
    </div>
</div>

<input id="input" type="file" accept="image/*" />
<link href="{{ asset('Frontend/css/effect.css') }}" rel="stylesheet">
<script src="{{ asset('Frontend/js/effect.js') }}"></script>
