html,
body {
    height: 100%;
}

body {
    background: #000;
    cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/836/hearthstone-cursor.png) 10 2, auto;
    overflow: hidden;
}
body:active {
    cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/836/hearthstone-click.png) 10 2, auto;
}
body:after {
    background-color: #000;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/836/hearthstone-battlefield.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    content: "";
    filter: blur(8px);
    left: 0;
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 0;
    will-change: transform;
    z-index: -1;
}

.card {
    left: 0;
    top: 0;
    perspective: 400px;
    position: absolute;
    transform-style: preserve-3d;
    will-change: transform;
    width: 250px;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.card:active {
    cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/836/hearthstone-grab.png) 10 2, auto;
}

.card-image {
    display: block;
    pointer-events: none;
    transform-style: preserve-3d;
    width: 100%;
    will-change: transform;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}